html,body{
    font-size:  62.5%;
    font-family: "Microsoft YaHei" ! important;
    background: #fff;
}


*{
    margin: 0;
    padding: 0;

}

li{
    display: inline;
    list-style:  none;
}

a{
    text-decoration: none;
    color: #333333;
}

input:focus {
    outline: none;
}


#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;

}

#container{
    padding: 1rem;
}

#header{
    background: url("/static/images/header.png") no-repeat;
    height: 16rem;
    background-size: cover;
    position: relative;
    padding:  1rem;
    background-position:  center;
}
.orders{
    text-align:  center;
}

#header img{
    width: 3rem;
}

.order_list li{
    display: inline;
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    word-spacing: 2rem;
}
.c_bg{
    margin-top:  1rem;
    background: #fff;
    -moz-box-shadow:2px 1px 0px #FFFFFF;
    -webkit-box-shadow:2px 1px 0px #FFFFFF;
    box-shadow:2px 1px 0px #FFFFFF;
    border-radius:  0.8rem;
    height: 6rem;
    text-align: center;
}

.vip{
    background: url("/static/images/top.png") no-repeat;
    background-position: center;
    height: 6rem;
    background-size: contain;
    color:  #fff;
    font-size:  2rem;
    line-height: 6rem;
    text-align:  center;
}


.vip img{
    width: 4rem;
    vertical-align: -1rem;
}

.sub_header{
    height:  60%;
}

.pic{
    display: inline;
    list-style:  none;
}
.pic img{


}
.picture{
    width: 20%;
    float: left;
}
.index_font{
    width: 20%;
    float: left;
}
.active{
    -moz-box-shadow:0px 0px 0px #333333; -webkit-box-shadow:0px 0px 0px #333333; box-shadow:0px 0px 0px #333333;
}
.voucher{

}

.layout{
    width: 25%;
    float: left;
}
.layout_one{
    width: 33%;
    float: left;
}

.layout_two{
    width: 25%;
    float: left;
}
.layout_two img{
    width:  2.5rem;
}
.layout_one img{
    width:  3rem;
}
.layout img{
    width:  3.5rem;
}

#one{
    padding-top:  2rem;
}

#two{
    padding-top:  2rem;
}
#four{
    padding-top:  2rem;
}
.square{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    background: #fff;
    text-align: center;
    line-height: 8rem;
    float:  left;
    margin-top: 1rem;
}

.user{
    color: #fff;
    font-size:  1.5rem;
    display: block;
}
.servers{
    float: left;
    line-height: 2rem;
    width: 40%;
    margin-left:  1rem;
    margin-top: 1.5rem;
}
.email{
    float: right;
    padding-right:  1.5rem;
    padding-top:  1rem;
}
.three_left{
    float:  left;
    font-size: 1.3rem;
    color: #d4a757;
    padding: 2rem;
}
.three_right{
    float: left;
    font-size: 1.5rem;
    padding: 2rem;

}

#three{
    font-size: 1.5rem;
}

#main{
    position: relative;
    bottom:  2rem;
}

#container{
    background: #ebf4fa;
}

.step li{

}

#infor{
    padding: 3rem 3rem;
}

#infor h1{
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
}
.user_li{
    display:  block;

    /*border-bottom:  1px solid #e5e5e5;*/
    font-size: 1.5rem;
    margin-top: 2rem;
}
.front{
    display:  block;
}

.user_input{
    border-bottom:  1px solid #e5e5e5;
    border-top:none;
    border-left:none;
    border-right: none;
    width: 100%;
    height: 2rem;
    text-align: right;
    color: #a8a8a8;
}

.user_input{

}
.active_img{
    float:  right;
    position: absolute;
    right: 2rem;
    top: 6rem;
}
.active_img img{
    width:  4rem;
}
.arrow{
    float: left;
}
.arrow img{
    width: 1.5rem;
}


.arrows{
    width: 7px;
    height: 7px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    transform: rotate(45deg);

}


@media (max-width: 375px) {

}